<div class="container">
    
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="assets/gallery/lights.jpg" target="_blank">
            <img src="assets/gallery/lights.jpg" alt="Lights" style="width:100%">
            <div class="caption">
              <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="assets/gallery/nature.jpg" target="_blank">
            <img src="assets/gallery/nature.jpg" alt="Nature" style="width:100%">
            <div class="caption">
              <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="assets/gallery/fjords.jpg" target="_blank">
            <img src="assets/gallery/fjords.jpg" alt="Fjords" style="width:100%">
            <div class="caption">
              <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>